body {
  overflow: hidden;  
  background-color: rgb(196, 224, 233);
  user-select: none;
  position: relative;
}

#ContainerDiv {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 50px;
}

#ButtonContainerDiv {
  display: flex;
  gap: 40px;
}

#HeadersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -30px;
}

.authDiv {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SignUpButton {
  padding: 30px 75px;
  border: 3px solid #e00dbd;
  border-radius: 10px;
  font-size: 25px;
}


#LoginButton {
  padding: 30px 75px;
  border: 3px solid #e00dbd;
  border-radius: 10px;
  font-size: 25px;
}

#WelcomeHeader {
  font-size: 70px;
  color: #0749a0;
  -webkit-text-stroke: 1.5px black;
}

#SignupOrLoginOptionHeader {
  font-size: 42px;
  margin-bottom: 100px;
  margin-top: -10px;
  font-family: "Tahoma", sans-serif;
}

#TicTacToeGameImage {
  width: 400px;
  height: 400px;
  pointer-events: none;
}

/* #TicTacToeLeftSideBackrounndImg {
  height: 1000px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-500px);
}  */

#hr1 {
  border: none;
  height: 2px;
  width: fit-content;
  background-color: black;

}

#CircleCharecter{
  display: block;
  width: 1250px;
  pointer-events: none;
  position: fixed;
  left: 50%;
  top: 0;

}


#XCharecter{
  position: fixed;
  width: 250px;
  left: 38%;
  top:49%;
  transform: translate(-500px);
  pointer-events: none;
}