body {
 overflow-x: hidden;
}

#HeadersContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

#LoginHeader{
  font-size: 70px;
}


#UsernameInput{
  font-size: 18px;
  width: 250px;
  height: 30px;
}

#PasswordInput{
  font-size: 18px;
  width: 250px;
  height: 30px;
}
