body {
    overflow-x: hidden;
}

#containerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.authDiv {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SignUpButton {
  padding: 30px 75px;
  position: relative;
  left: 700px;
  top: 300px;
  border: 3px solid #e00dbd;
  border-radius: 10px;
  font-size: 25px;
}


#LoginButton {
  padding: 30px 75px;
  position: relative;
  top: 300px;
  left: 800px;
  border: 3px solid #e00dbd;
  border-radius: 10px;
  font-size: 25px;
}

#WelcomeHeader {
  font-size: 70px;
  position: relative;
  top: 20px;
  left: 525px;
  color: #0749a0;
  -webkit-text-stroke: 1.5px black;
}

#SignupOrLoginOptionHeader {
  font-size: 42px;
  position: relative;
  top: 40px;
  left: 85px;
  font-family: "Tahoma", sans-serif;
}

#TicTacToeGameImage{
width: 400px;
height: 400px;
position: relative;
top: 100px;
left: 325px
}